<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../static/css/eventos.css"  media="screen,projection"/>
        <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Paris</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <ul id="sobre-paris" class="dropdown-content">
                <li><a href="sobreParis.html">Sobre Paris</a></li>
                <li><a href="#!">Histórico</a></li>
                <li><a href="hotel.html">Hospedagem</a></li>
                <li><a href="restaurante.html">Gastronomia</a></li>
                <li><a href="quandoVisitar.html">Quando Visitar</a></li>
                <li><a href="transporte.html">Transporte</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper container">
                    <a href="index.html" class="brand-logo">
                        <img id="logo" src="../static/images/logo.png">    
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                            <li><a class="dropdown-trigger" href="#!" data-target="sobre-paris">Sobre Paris<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="pontosTuristicos.html">Pontos Turísticos</a></li>
                        <li><a href="eventos.html">Eventos e Festivais</a></li>
                        <li><a href="faleConosco.html">Fale Conosco</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="badges.html">Sobre Paris</a></li>
            <li><a href="badges.html">Pontos Turísticos</a></li>
            <li><a href="badges.html">Eventos e Festivais</a></li>
            <li><a href="quandoVisitar.html">Quando Visitar</a></li>
            <li><a href="faleConosco.html">Fale Conosco</a></li>
        </ul>
        <div id="banner" class="parallax-container">
            <div class="parallax">
                <img id="evento" src="../static/images/evento.jpg">
                <h1 class="center">Eventos e Festivais</h1>
            </div>
        </div>
        <div class="container">
            <h3 class="center">Principais Eventos e Festivais</h3>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <h4 class="center">Festival Nuit blanche em Paris</h4>
                    <p class="descricao">
                       É uma comemoração à arte contemporânea, atraindo milhões de pessoas. Nessa noite 
                       acontecem instalações, exposições e vendas de obras de arte pelos bairros de Paris,
                       realegrando a cidade e levando a arte para vários outros cantos, cativando novos 
                       amantes.
                    </p>
                    <p>
                        <span>Época:</span> primeiro final de semana de outubro.
                    </p>
                    <p>
                        <span>Tipo:</span> festival
                    </p>
                </div>
                <div class="col l6 m12 s12">
                    <img src="../static/images/nuit-blanche-1.jpg" width="100%">
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <img src="../static/images/festival-jazz.jpg" width="100%">
                </div>
                <div class="col l6 m12 s12">
                    <h4 class="center">Jazz Festival</h4>
                    <p class="descricao">
                        Confira no verão de Paris um grande espetáculo de Jazz que traz diversos 
                        grandes artistas à cidade. Amantes ou não de Jazz se reúnem para esse evento 
                        em Paris e assistem às apresentações no Parc Floral, dentro do Bois de Vincennes. 
                        Ao mesmo tempo, outros eventos ocorrem para completar esse festival de jazz.
                    </p>
                    <p>
                        <span>Época:</span> 4 finais de semana entre Junho e Julho.
                    </p>
                    <p>
                        <span>Tipo:</span> música.
                    </p>
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <h4 class="center">Grandes Eaux Nocturnes</h4>
                    <p class="descricao">
                        Nas noites de verão em paris, os turistas e moradores poderão aproveitar 
                        instalações e luzes lindas nos jardins e palácio de versalhes. É um evento 
                        único no ano e que atrai muitos curiosos a Versalhes, pois também conta com 
                        shows de fogos e música.
                    </p>
                    <p>
                        <span>Época:</span> noites de sábado de verão.
                    </p>
                    <p>
                        <span>Tipo:</span> festival.
                    </p>
                </div>
                <div class="col l6 m12 s12">
                    <img src="../static/images/versailles-event-festival-paris.jpg" width="100%">
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <img src="../static/images/fete-automne-event-festival-paris.jpg" width="100%"> 
                </div>
                <div class="col l6 m12 s12">
                    <h4 class="center">Festival d'Automne</h4>
                    <p class="descricao">
                        Paris desenvolve este evento que incentiva a arte para todas as camadas, gêneros e 
                        idades do moradores e turistas de Paris. Com artes contemporâneas presentes em 
                        apresentações teatrais, danças, concertos, produções cinematográficas e muito mais, 
                        esse festival é incrível e tem sido bem aceito em Paris.
                    </p>
                    <p>
                        <span>Época:</span> No outono, de meados de setembro a dezembro
                    </p>
                    <p>
                        <span>Tipo:</span> festival.
                    </p>
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <h4 class="center">Fête de la Musique</h4>
                    <p class="descricao">
                        Nesse festival, as ruas de Paris são tomadas por músicos profissionais e amadores, 
                        que celebram o solstício de verão na cidade. As apresentações são dispersas por 
                        diversos bairros, tanto nos residenciais menos conhecidos, até os que mais chamam 
                        turistas em Paris. Os bares, restaurantes e cafés de Paris também são tomados por 
                        esses músicos para completar o evento.
                    </p>
                    <p>
                        <span>Época:</span> geralmente final de junho.
                    </p>
                    <p>
                        <span>Tipo:</span> música.
                    </p>
                </div>
                <div class="col l6 m12 s12">
                    <img src="../static/images/fete-de-la-musique-evento-festival-paris.jpg" width="100%">
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <img src="../static/images/paris-photo-mois-evento-festival.png" width="100%">  
                </div>
                <div class="col l6 m12 s12">
                    <h4 class="center">Evento Mois de la Photo</h4>
                    <p class="descricao">
                        Diversos museus, galerias de arte e espaços culturais abrem as portas para exposições, 
                        seminários e até oficinas, para aqueles que amam fotografar. É um evento e tanto para 
                        os amantes, profissionais ou iniciantes.
                    </p>
                    <p>
                        <span>Época:</span> mês de novembro.
                    </p>
                    <p>
                        <span>Tipo:</span> monumento.
                    </p>
                </div>
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../static/js/materialize.js"></script>
        <script type="text/javascript" src="../static/js/pontoTuristico.js"></script>
    </body>
</html>