<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../static/css/personalizacao.css"  media="screen,projection"/>
        <link rel="icon" href="../static/images/logo.jpg" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Paris</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper container">
                    <a href="#!" class="brand-logo">
                        <img id="logo" src="../static/images/logo.png">    
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="badges.html">Sobre Paris</a></li>
                        <li><a href="badges.html">Pontos Turísticos</a></li>
                        <li><a href="badges.html">Eventos e Festivais</a></li>
                        <li><a href="faleConosco.html">Fale Conosco</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Home</a></li>
            <li><a href="badges.html">Sobre Paris</a></li>
            <li><a href="badges.html">Pontos Turísticos</a></li>
            <li><a href="badges.html">Eventos e Festivais</a></li>
            <li><a href="badges.html">Fale Conosco</a></li>
        </ul>
    </body>
</html>