<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../static/css/index.css"  media="screen,projection"/>
        <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Paris</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <ul id="sobre-paris" class="dropdown-content">
                <li><a href="sobreParis.html">Sobre Paris</a></li>
                <li><a href="historico.html">Histórico</a></li>
                <li><a href="hotel.html">Hospedagem</a></li>
                <li><a href="restaurante.html">Gastronomia</a></li>
                <li><a href="quandoVisitar.html">Quando Visitar</a></li>
                <li><a href="transporte.html">Transporte</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper container">
                    <a href="index.html" class="brand-logo">
                        <img id="logo" src="../static/images/logo.png">    
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                         <li><a class="dropdown-trigger" href="#!" data-target="sobre-paris">Sobre Paris<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="pontosTuristicos.html">Pontos Turísticos</a></li>
                        <li><a href="eventos.html">Eventos e Festivais</a></li>
                        <li><a href="faleConosco.html">Fale Conosco</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobreParis.html">Sobre Paris</a></li>
            <li><a href="pontosTuristicos.html">Pontos Turísticos</a></li>
            <li><a href="eventos.html">Eventos e Festivais</a></li>
            <li><a href="faleConosco.html">Fale Conosco</a></li>
        </ul>
        <video id="banner" class="responsive-video" autoplay muted loop width="100%" height="100%">
            <source src="../static/video/paris-timelapse.mp4" type="video/mp4">
        </video>
        <div class="container">
            <div class="row">
                <div class="col l8 offset-l2 m10 offset-m1 s12">
                    <div>
                        <h1 id="frase-impacto" class="center">Conheça a cidade do <br><span>Amor!</span></h1>
                        <p>
                            Você não deve perder a oportunidade de conhecer Paris pelo menos uma vez em sua vida.
                            Esta cidade pode oferecer a você uma enorme variedade de experiências, uma vez que pode 
                            ser reconhecida como uma cidade de contraste, indo desde o clima romantico até restaurantes
                            estrelados.
                            Esta cidade instiga diversos sonhos com suas belas paisagens, vinho e, até mesmo, o 
                            sotaque frances.
                        </p>
                        <p class="center">
                            Por onde você for há uma Paris para todos os gostos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="evento">
            <div class="card-content">
                <div class="row">
                    <div class="col l4 offset-l2 m4 offset-m2 s12">
                        <h2 class="card-title center">Les Grandes Eaux Nocturnes</h2>
                        <p>
                            Durante o verão, nos sábado à noite, podem ser realizados 2h30 de passeio pelos majestosos 
                            jardins do Palácio de Versalhes acompanhado pela música barroca. O jardim e as fontes 
                            estarão iluminados de maneira diferenciada e o passeio será coroado por um grande espetáculo 
                            de fogos de artíficio.
                        </p>
                        <p class="center">O tempo irá parar por uma noite.</p>
                    </div>
                    <div class="col l4 m4 s12 center">
                        <img id="image-evento-versalles"  width="100%" src="../static/images/versalles-festival.jpg" alt="Les Grandes Eaux Nocturnes">
                    </div>
                </div>
            </div>
        </div>
        <h2 id="sobre-site" class="center">Sobre o site</h2>
        <div class="container">
            <div id="itens-site" class="row">
                <div class="col l6 m10 offset-m1 s12">
                    <h4 class="center">Sobre Paris</h4>
                    <a href="sobreParis.html">
                        <img src="../static/images/sobre-paris.jpeg" width="100%">
                    </a>
                </div>
                <div class="col l6 m10 offset-m1 s12">
                    <h4 class="center">Histórico</h4>
                    <a href="sobreParis.html">
                        <img src="../static/images/histo.jpeg" width="100%">
                    </a>
                </div>
                <div class="col l12 m10 offset-m1 s12">
                    <h4 class="center">Hospedagem</h4>
                    <a href="hotel.html">
                        <img src="../static/images/hotel.jpeg" width="100%">
                    </a>
                </div>
                <div class="col l12 m10 offset-m1 s12">
                    <h4 class="center">Restaurantes</h4>
                    <a href="restaurante.html">
                        <img src="../static/images/restaurante.jpeg" width="100%">
                    </a>
                </div>
                <div class="col l6 m10 offset-m1 s12">
                    <h4 class="center">Eventos e Festivais</h4>
                    <a href="eventos.html">
                        <img src="../static/images/evento.jpg" width="100%">
                    </a>
                </div>
                <div class="col l6 m10 offset-m1 s12">
                    <h4 class="center">Pontos Turisticos</h4>
                    <a href="pontosTuristicos.html">
                        <img src="../static/images/pontos-turisticos.jpg" width="100%">
                    </a>
                </div>
                <div class="col l12 m10 offset-m1 s12">
                    <h4 class="center">Quando Visitar</h4>
                    <a href="quandoVisitar.html">
                        <img src="../static/images/feira.jpeg" width="100%">
                    </a>
                </div>
                <div class="col l12 m10 offset-m1 s12">
                    <h4 class="center">Transporte</h4>
                    <a href="transporte.html">
                        <img src="../static/images/transito.jpeg" width="100%">
                    </a>
                </div>
                
                
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../static/js/materialize.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
    </body>
</html>