<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../static/css/personalizacao.css"  media="screen,projection"/>
        <link rel="icon" href="../static/images/logo.jpg" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Paris</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper container">
                    <a href="#!" class="brand-logo">
                        <img id="logo" src="../static/images/logo.jpg">    
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="sass.html">Home</a></li>
                        <li><a href="badges.html">Sobre Paris</a></li>
                        <li><a href="badges.html">Pontos Turísticos</a></li>
                        <li><a href="badges.html">Eventos e Festivais</a></li>
                        <li><a href="badges.html">Fale Conosco</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Home</a></li>
            <li><a href="badges.html">Sobre Paris</a></li>
            <li><a href="badges.html">Pontos Turísticos</a></li>
            <li><a href="badges.html">Eventos e Festivais</a></li>
            <li><a href="badges.html">Fale Conosco</a></li>
        </ul>
        <video id="banner" class="responsive-video" autoplay muted loop width="100%" height="100%">
            <source src="../static/video/paris-timelapse.mp4" type="video/mp4">
        </video>
        <div class="container">
            <div class="row">
                <div class="col l6 offset-l3 m6 offset-m3 s12">
                    <div id="frase-impacto">
                        Conheça a cidade do <br><span>Amor!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="evento">
            <div class="card-content">
                <div class="row">
                    <div class="col l4 offset-l2 m4 offset-m2 s12">
                        <span class="card-title">Les Grandes Eaux Nocturnes</span>
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="col l4 m4 s12">
                        <img id="image-evento-versalles" src="../static/images/versalles-festival.jpg">
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../static/js/materialize.js"></script>
        <script type="text/javascript" src="../static/js/personalizacao.js"></script>
    </body>
</html>