<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../static/css/pontosTuristicos.css"  media="screen,projection"/>
        <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Paris</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <ul id="sobre-paris" class="dropdown-content">
                <li><a href="sobreParis.html">Sobre Paris</a></li>
                <li><a href="#!">Histórico</a></li>
                <li><a href="hotel.html">Hospedagem</a></li>
                <li><a href="restaurante.html">Gastronomia</a></li>
                <li><a href="quandoVisitar.html">Quando Visitar</a></li>
                <li><a href="transporte.html">Transporte</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper container">
                    <a href="index.html" class="brand-logo">
                        <img id="logo" src="../static/images/logo.png">    
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                            <li><a class="dropdown-trigger" href="#!" data-target="sobre-paris">Sobre Paris<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="pontosTuristicos.html">Pontos Turísticos</a></li>
                        <li><a href="eventos.html">Eventos e Festivais</a></li>
                        <li><a href="faleConosco.html">Fale Conosco</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="badges.html">Sobre Paris</a></li>
            <li><a href="badges.html">Pontos Turísticos</a></li>
            <li><a href="badges.html">Eventos e Festivais</a></li>
            <li><a href="quandoVisitar.html">Quando Visitar</a></li>
            <li><a href="faleConosco.html">Fale Conosco</a></li>
        </ul>
        <div id="banner" class="parallax-container">
            <div class="parallax">
                <img id="pontoTuristico" src="../static/images/pontos-turisticos.jpg">
                <h1 class="center">Pontos Turísticos</h1>
            </div>
        </div>
        <div class="container">
            <h3 class="center">Principais Pontos Turísticos</h3>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <h4 class="center">Torre Eiffel</h4>
                    <p class="descricao">
                            A Torre Eiffel é uma construção de ferro de 300 metros de altura que foi 
                            criada para a Exposição Universal de Paris de 1889. Atualmente é o símbolo 
                            mais representativo de Paris.
                    </p>
                    <p>
                        <span>Endereço:</span> Campo de Marte.
                    </p>
                    <p>
                        <span>Tipo:</span> local histórico.
                    </p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item black white-text" href="#one!">
                            <img src="../static/images/torre-eiffel-1.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#two!">
                            <img src="../static/images/torre-eiffel-2.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#three!">
                            <img src="../static/images/torre-eiffel-3.jpeg">        
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item black white-text" href="#one!">
                            <img src="../static/images/louvre-1.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#two!">
                            <img src="../static/images/louvre-2.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#three!">
                            <img src="../static/images/louvre-3.jpg">        
                        </div>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <h4 class="center">Museu do Louvre</h4>
                    <p class="descricao">
                        Inaugurado a finais do século XVIII, o Museu do Louvre é o museu mais 
                        importante da França e um dos mais visitados do mundo. Atualmente recebe
                        mais de oito milhões de visitantes a cada ano.
                    </p>
                    <p>
                        <span>Endereço:</span> Place du Palais Royal
                    </p>
                    <p>
                        <span>Tipo:</span> museu.
                    </p>
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <h4 class="center">Catedral de Notre Dame</h4>
                    <p class="descricao">
                        Dedicada à Virgem Maria, a Catedral de Notre Dame é uma das catedrais góticas mais antigas 
                        do mundo. Suas torres oferecem uma vista incrível de Paris.
                    </p>
                    <p>
                        <span>Endereço:</span> 6 Parvis Notre-Dame. Place Jean-Paul II.
                    </p>
                    <p>
                        <span>Tipo:</span> local histórico.
                    </p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item black white-text" href="#one!">
                            <img src="../static/images/notredame-1.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#two!">
                            <img src="../static/images/notredame-2.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#three!">
                            <img src="../static/images/notredame-3.jpg">        
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item black white-text" href="#one!">
                            <img src="../static/images/arco-triunfo-1.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#two!">
                            <img src="../static/images/arco-triunfo-2.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#three!">
                            <img src="../static/images/arco-triunfo-3.jpg">        
                        </div>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <h4 class="center">Arco do Triunfo</h4>
                    <p class="descricao">
                        O Arco do Triunfo é um dos símbolos mais famosos de Paris e representa as vitórias 
                        do exército francês sob as ordens de Napoleão, que ordenou sua construção.
                    </p>
                    <p>
                        <span>Endereço:</span> Plaza Charles de Gaulle.
                    </p>
                    <p>
                        <span>Tipo:</span> monumento.
                    </p>
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <h4 class="center">Palácio de Versalhes</h4>
                    <p class="descricao">
                        Com uma imponente arquitetura e mais de 800 hectares de jardins, o Palácio 
                        de Versalhes uma história e cultura e é um dos lugares mais visitados da França.
                    </p>
                    <p>
                        <span>Endereço:</span> Place d'Armes, Versalhes.
                    </p>
                    <p>
                        <span>Tipo:</span> local histórico.
                    </p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item black white-text" href="#one!">
                            <img src="../static/images/palacio-versalles-1.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#two!">
                            <img src="../static/images/palacio-versalles-2.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#three!">
                            <img src="../static/images/palacio-versalles-3.jpg">        
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col l6 m12 s12">
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item black white-text" href="#one!">
                            <img src="../static/images/campos-eliseos-1.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#two!">
                            <img src="../static/images/campos-eliseos-2.jpg">
                        </div>
                        <div class="carousel-item black white-text" href="#three!">
                            <img src="../static/images/campos-eliseos-3.jpg">        
                        </div>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <h4 class="center">Champs Élysées</h4>
                    <p class="descricao">
                            Com uma extensão de quase dois quilômetros, a Champs Élysées (Campos Elíseos) 
                            forma a via mais bonita e conhecida de Paris, além de ser uma das avenidas mais 
                            famosas do mundo.
                    </p>
                    <p>
                        <span>Endereço:</span> Entre o Arco do Trinfo e a Praça Concorde.
                    </p>
                    <p>
                        <span>Tipo:</span> monumento.
                    </p>
                </div>
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../static/js/materialize.js"></script>
        <script type="text/javascript" src="../static/js/pontoTuristico.js"></script>
    </body>
</html>