<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../static/css/personalizacao.css" media="screen,projection" />
    <link rel="icon" href="../static/images/logo.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher" rel="stylesheet">
    <link href="../static/css/quandoVisitar.css" rel="stylesheet">
    <title>Paris</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">
                    <img id="logo" src="../static/images/logo.png">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="badges.html">Sobre Paris</a>
                    </li>
                    <li>
                        <a href="badges.html">Pontos Turísticos</a>
                    </li>
                    <li>
                        <a href="badges.html">Eventos e Festivais</a>
                    </li>
                    <li>
                        <a href="quandoVisitar.html">Quando Visitar</a>
                    </li>
                    <li>
                        <a href="faleConosco.html">Fale Conosco</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="banner">
        <div class="row">
            <div class="center" id="title">
                Quando Visitar
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row ">
            <div class=" col s6">
                Qual é a melhor época para vir para Paris? Esta é uma das perguntas que o viajante se faz antes de comprar sua passagem e
                decidir suas férias. É claro que a resposta depende de fatores e gostos pessoais: quando é possível pedir
                férias, quando terá companhia, qual tipo de clima prefere etc.
                <br> Não existe época imprópria para visitar Paris. Mas tampouco — pelo menos do ponto de vista meteorológico
                — existe uma época perfeita. Os céus de Paris costumam estar mais cinzentos do que ensolarados, e é difícil
                escapar de alguma chuva, não importa quando você vá. Em termos de volume, até que chove pouco -- entre 50
                a 60mm todo mês. Toró é difícil acontecer; em compensação, os chuvisqueiros são persistentes
                <br>
                <a href="http://aviagemcerta.com.br/2015/01/qual-a-melhor-epoca-para-visitar-paris/">Fonte: A viagem certa</a>
                <br>
                <a href="https://www.viajenaviagem.com/destino/paris/quando-ir-paris/"> Viaje Na Viagem</a>
            </div>
            <div class=" col s6">
                <a>
                    <div class="polaroid">
                        <img src="../static/images/chuva.jpeg" id="polaroid" />
                    </div>
                    <span>
                        <a href="https://www.pexels.com/photo/city-sky-france-flag-64022/">Fonte: Pexels</a>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <i class="#e91e63 pink">.</i>
    <div class="content">
        <div class="row ">
            <div class=" col s6">
                <a>
                    <div class="polaroid">
                        <img src="../static/images/verao.jpg" id="polaroid" />
                    </div>
                    <span>
                        <a href="https://www.maxpixel.net/Eiffel-France-Paris-French-Eiffel-Tower-Europe-1175022">Fonte: Max Pexels</a>
                    </span>
                </a>
            </div>
            <div class=" col s6">
                O verão chega amanhã. Quem decidiu escolher Paris para curtir a estação mais quente do ano, pode se preparar para o melhor
                da cultura, em eventos gratuitos por toda a cidade. Do fim deste mês a setembro, uma maratona cultural com
                shows de música, cinema ao ar livre, dança e teatro vai invadir parques, praças, museus, teatros, igrejas,
                restaurantes, livrarias e cafés, entre outros pontos. Nesse período, Paris se transforma na Capital Mundial
                das Artes e fica ainda mais encantadora. Convite irresistível tanto para os amantes, que escolherem a cidade-luz
                como roteiro de paixão, quanto para a família em férias, em busca diversão, boa gastronomia e arte.
                <br>
                <a href="https://www.viajenaviagem.com/destino/paris/quando-ir-paris/">Fonte: Viaje Na Viagem</a>
            </div>
        </div>
    </div>
    <i class="#e91e63 pink">.</i>
    <div class="content">
        <div class="row ">
            <div class=" col s6">
                Passar o inverno em Paris exige os cuidados básicos de quem visita o hemisfério norte nessa época, mas também é preciso atentar
                As temperaturas começam a cair já em novembro, podendo ter sensações térmicas negativas em alguns dias neste
                mês. O inverno só começa oficialmente em dezembro e vai até março. Janeiro é considerado o mês com as temperaturas
                mais baixas, mas a sensação de frio é maior em fevereiro. para as seguintes características da cidade durante
                esta estação.
                <br> Dias cinzas, com garoas ou névoas no período da manhã são comuns nessa época do ano. O dia amanhece antes
                das 8h e por volta de 16h já começa a escurecer. Chove bastante no inverno, principalmente em janeiro. É
                bom estar prevenido: guarda chuvas, botas e casaco impermeável são bem vindos em dias chuvosos. A neve às
                vezes aparece em Paris, mas não dura muito tempo e é raro acumular em grande quantidade nas ruas.
                <br>
                <a href="http://www.cadernodeviagem.com/destinos/europa/franca/paris/paris-no-inverno/">Fonte: Caderno De Viagem</a>
            </div>
            <div class=" col s6">
                <a>
                    <div class="polaroid">
                        <img src="../static/images/neve.jpg" id="polaroid" />
                    </div>
                    <span>
                        <a href="https://www.maxpixel.net/Winter-Snow-Notre-dame-Paris-Cold-Street-3185992">Fonte: Max Pixels</a>
                    </span>
                </a>


            </div>

        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.js"></script>
</body>

</html>