<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../static/css/transporte.css"  media="screen,projection"/>
        <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Paris</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <ul id="sobre-paris" class="dropdown-content">
                <li><a href="historico.html">Histórico</a></li>
                <li><a href="hotel.html">Hospedagem</a></li>
                <li><a href="restaurante.html">Gastronomia</a></li>
                <li><a href="quandoVisitar.html">Quando Visitar</a></li>
                <li><a href="transporte.html">Transporte</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper container">
                    <a href="index.html" class="brand-logo">
                        <img id="logo" src="../static/images/logo.png">    
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                         <li><a class="dropdown-trigger" href="#!" data-target="sobre-paris">Sobre Paris<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="pontosTuristicos.html">Pontos Turísticos</a></li>
                        <li><a href="eventos.html">Eventos e Festivais</a></li>
                        <li><a href="faleConosco.html">Fale Conosco</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="badges.html">Sobre Paris</a></li>
            <li><a href="badges.html">Pontos Turísticos</a></li>
            <li><a href="badges.html">Eventos e Festivais</a></li>
            <li><a href="quandoVisitar.html">Quando Visitar</a></li>
            <li><a href="faleConosco.html">Fale Conosco</a></li>
        </ul>
        <div id="banner" class="parallax-container">
            <div class="parallax">
                <img id="transito" src="../static/images/transito.jpeg">
                <h1 class="center">Transporte</h1>
            </div>
        </div>
        <div class="container">
            <h3 class="center">Transporte público</h3>
            <div class="row"> 
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-content center">
                            <span class="card-title center">Metrô</span>
                            <i class="material-icons center">subway</i>
                            <p class="info-transporte">
                                O Metrô de Paris é a forma mais rápida de se locomover pela cidade. A rede de Metrô é formada por 16 linhas que se comunicam entre elas e com os trens RER. 
                            </p>
                            <p>
                                <span>Horário:</span> das 5:30 às 01:00
                            </p>
                            <p>
                                <span>Tarifa:</span> 1,80€ 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-content center">
                            <span class="card-title center">RER</span>
                            <i class="material-icons center">directions_railway</i>
                            <p class="info-transporte">
                                Os trens RER de Paris são trens regionais que, além de chegar a lugares próximos, complementam a rede de metrô quando circulam pelo centro da cidade. O significado de RER é Réseau Express Régional.
                            </p>
                            <p>
                                <span>Horário:</span> das 5:30 às 01:00
                            </p>
                            <p>
                                <span>Tarifa:</span> 1,80€ 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-content center">
                            <span class="card-title center">Ônibus</span>
                            <i class="material-icons center">directions_bus</i>
                            <p class="info-transporte">
                                Os trens RER de Paris são trens regionais que, além de chegar a lugares próximos, complementam a rede de metrô quando circulam pelo centro da cidade. O significado de RER é Réseau Express Régional.
                            </p>
                            <p>
                                <span>Horário:</span> das 5:30 às 01:00
                            </p>
                            <p>
                                <span>Tarifa:</span> 1,80€ 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-content center">
                            <span class="card-title center">Funicular</span>
                            <i class="material-icons center">train</i>
                            <p class="info-transporte">
                                Os trens RER de Paris são trens regionais que, além de chegar a lugares próximos, complementam a rede de metrô quando circulam pelo centro da cidade. O significado de RER é Réseau Express Régional.
                            </p>
                            <p>
                                <span>Horário:</span> das 5:30 às 01:00
                            </p>
                            <p>
                                <span>Tarifa:</span> 1,80€ 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-content center">
                            <span class="card-title center">Tramway</span>
                            <i class="material-icons center">tram</i>
                            <p class="info-transporte">
                                Os trens RER de Paris são trens regionais que, além de chegar a lugares próximos, complementam a rede de metrô quando circulam pelo centro da cidade. O significado de RER é Réseau Express Régional.
                            </p>
                            <p>
                                <span>Horário:</span> das 5:30 às 01:00
                            </p>
                            <p>
                                <span>Tarifa:</span> 1,80€ 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-content center">
                            <span class="card-title center">Táxi</span>
                            <i class="material-icons center">local_taxi</i>
                            <p class="info-transporte">
                                Os trens RER de Paris são trens regionais que, além de chegar a lugares próximos, complementam a rede de metrô quando circulam pelo centro da cidade. O significado de RER é Réseau Express Régional.
                            </p>
                            <p>
                                <span>Horário:</span> das 5:30 às 01:00
                            </p>
                            <p>
                                <span>Tarifa:</span> 1,80€ 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="center">Tarifas</h3>
        <div class="card" id="tarifas">
            <div class="card-content">
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-content center">
                                <span class="card-title center">Passe Navigo</span>
                                <img src="../static/images/passe-navigo.jpg">
                                <p class="info-transporte">
                                    Os trens RER de Paris são trens regionais que, além de chegar a lugares próximos, complementam a rede de metrô quando circulam pelo centro da cidade. O significado de RER é Réseau Express Régional.
                                </p>
                                <p>
                                    <span>Horário:</span> das 5:30 às 01:00
                                </p>
                                <p>
                                    <span>Tarifa:</span> 1,80€ 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-content center">
                                <span class="card-title center">Ticket t+</span>
                                <img src="../static/images/ticket-t.jpg">
                                <p class="info-transporte">
                                    Os trens RER de Paris são trens regionais que, além de chegar a lugares próximos, complementam a rede de metrô quando circulam pelo centro da cidade. O significado de RER é Réseau Express Régional.
                                </p>
                                <p>
                                    <span>Horário:</span> das 5:30 às 01:00
                                </p>
                                <p>
                                    <span>Tarifa:</span> 1,80€ 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-content center">
                                <span class="card-title center">Paris Visite</span>
                                <img src="../static/images/paris-visite.jpg">
                                <p class="info-transporte">
                                    Os trens RER de Paris são trens regionais que, além de chegar a lugares próximos, complementam a rede de metrô quando circulam pelo centro da cidade. O significado de RER é Réseau Express Régional.
                                </p>
                                <p>
                                    <span>Horário:</span> das 5:30 às 01:00
                                </p>
                                <p>
                                    <span>Tarifa:</span> 1,80€ 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../static/js/materialize.js"></script>
        <script type="text/javascript" src="../static/js/personalizacao.js"></script>
        <script src="../static/js/hammer.min.js"></script>
        <script src="../static/js/muuri.min.js"></script>
    </body>
</html>