* {
	font-family: 'Philosopher', sans-serif;
}

/*.parallax-container {
    height: 100%;
}
*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#logo {
	width: 65px;
}

nav {
	background-color: rgba(0, 0, 0, 0.17);

}

video#banner {
    margin-top: -13%;
}

div#frase-impacto {

}
