* {
	font-family: 'Philosopher', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#logo {
	width: 65px;
}

nav {
	background-color: rgba(0, 0, 0, 0.17);

}

video#banner {
    margin-top: -13%;
}

div#frase-impacto {
	font-family: 'Kaushan Script', cursive;
	font-size: 3em;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

div#frase-impacto span {
	font-family: 'Kaushan Script', cursive;
    color: #ee6e73;
    margin-left: 18rem;
    font-size: 1.5em;
}

div#evento {
	background-color: #4DE5FF;
	color: white;
}

#image-evento-versalles{
	width: 25rem;
    border: 20px solid white;
}