* {
	font-family: 'Philosopher', sans-serif;
	font-size: 1.25rem;
	text-align: justify;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

p {
	text-indent: 1em;
}

h1, h2, h3, h4, h5 { 
	font-family: 'Kaushan Script', cursive;
}

#logo {
	width: 65px;
}

nav {
	background-color: rgba(0, 0, 0, 0.3);

}

.parallax-container#banner {
    margin-top: -13%;
    height: 750px;
    
}

.parallax-container#banner h1 {
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    height: 100%;
}


img#pontoTuristico {
    transform: translate3d(-50%, 285px, 0px) !important;
    opacity: 0.8 !important;
}

@media (max-width: 425px){
    .parallax-container {
        height: 500px;
    }
}

.descricao {
    margin-bottom: 1rem !important;
}

p span {
    color: #ee6e73;
    font-weight: 600;
}

h3 {
    margin-bottom: 3rem;
}
